.container {
    padding: 2rem 0rem;
    background-color: dimgray;
}

h4 {
    margin: 2rem 0rem 1rem;
}

td,
th {
    vertical-align: middle;
    color: white;
}

tr {
    border: darkslategray;
    color: white;
}