.card {
    box-shadow: 4px 4px 4px 4px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    width: 35%;
    height: 410px;
    border-radius: 5px;
    margin-left: 20%;
}

.row {
    height: 20px;
    padding: 15px;
    align-content: center;
}

input {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 10%;
    margin-top: 10%;
}

.button {
    background-color: #1877f2;
    text-align: center;
    border: none;
    color: white;
    height: 30px;
    width: 30%;
    margin: 10%;
    margin-left: 30%;
    margin-top: 20%;
    border-radius: 5px;
}

.login {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20%;
}

.login button {
    margin-left: 5%;
    background-color: #42B72A;
    text-align: center;
    border: none;
    color: white;
    height: 30px;
    width: 20%;
    border-radius: 5px;
}

.forms {
    margin: 10%;
    margin-left: 25%;
}

@media screen and (max-width: 600px) {
    .row .button .login .card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}