<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Expense Tracker</a>
        </div>
        <ul class="">

            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/addExpense">Add</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/limit">Limit</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

{% block body %} {% endblock %}