<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/home.css" />
    <style>
        @media only screen and (max-width: 1130px) {
            .image-cus {
                flex-direction: column;
                align-items: center;
            }
            .title-cus {
                text-align-last: center;
                margin: 0%;
            }
            .logo-cus {
                margin-left: 7%;
            }
        }
    </style>
</head>

<body>
    <!-- for mailing
    <h1>Twilio SendGrid Example</h1>
    {% with messages= get_flashed_messages() %} {% for message in messages %}
    <p>{{message }}</p>
    {% endfor %} {% endwith %}

    <form action="/send_mail" method="post">
        <p>Your email: <input type="text" name="recipient"></p>
        <p><input type="submit" value="Send a Test Email"></p>
    </form>
    end for mailing-->
    <nav class="navbar navbar-default" style="background-color: #15172b;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color:white;">
                    Expense Tracker</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="active"><a href="/home" style="color:#15172b;">Home</a></li>
                <li><a href="/addExpense" style="color:white;">Add</a></li>
                <li><a href="/history" style="color:white;">History</a></li>
                <li><a href="/limit" style="color:white;">Limit</a></li>
                <li><a href="/today" style="color:white;">Report</a></li>

                <li><a href="/logout" style="color:white;">Logout</a></li>
            </ul>
        </div>
    </nav>

    <body>

        <h4>{{msg}}</h4>

        <div class="container">
            <div class="row image-cus" style="display: flex;">
                <div class="col-sm-6 title-cus" style="align-self: center; margin-left: 5%;">
                    <h1>PERSONAL</h1>
                    <h1 style="white-space: nowrap;">EXPENSE TRACKER</h1>
                    <button style=" height: 50px; width: 120px; margin: 30px; background-color: gray; border-color: gray;"><a href="/addExpense" style="color: white ;">Add Expense</a></button>
                </div>
                <div class="col-sm-6 logo-cus">
                    <img class="" style="width: 100%;" src="{{url_for('static', filename='expenseTracker.png')}}" />
                </div>
            </div>
        </div>


    </body>

</html>