<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/history.css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Expense Tracker</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/addExpense">Add</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/limit">Limit</a></li>
                <li><a href="/today">Report</a></li>

                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <body>

        <h4>{{msg}}</h4>


    </body>

</html>